<div class="text-center">
@if(activeSession(); as activeSession) {


    <div class="text-9xl">
    {{timeRemainingFormatted()}}
    </div>
    <div class="mb-10 text-2xl italic">
        {{activeSession.name}}
    </div>

    <div class="mb-4">
        <button class="simple-button" (click)="stopSession()" >Stop</button>
    </div>

    <app-fading-blocks-time-visualizer  [startTime]="activeSession.startTime" [durationInMinutes]="activeSession.durationInMinutes" ></app-fading-blocks-time-visualizer>

} @else {
    No active session.
}
</div>